<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style> .questions{ padding:2px; margin-right:20%; margin-left:20%; font-size:20px } </style>
</head>
<body>
<h2 style="text-align:center;"> Fetch Data Using Below Questions </h2>
<div class="questions">
    <p>1) Search student data by student ID ( Example: 800384058 ) </p>
    <input type="text" id="studentId"/>
    <button onclick="getDataById"> Search by Id </button>
    

</div>
</body>
</html>